<% var data = {
title: "Highvill Clinic",
description: "Какое то описание для страницы, для каждой страницы свое описание"
}; %>

<!--header-->
<%= _.template(require('./../includes/header.html').default)(data) %>

<main>
    <section class="main" id="main">
        <div class="container">
            <div class="main__wrapper">
                <div class="main__content">
                    <h1 class="title">Современная имплантация зубов в Астане</h1>
                    <span class="main__subtitle">Имплантация без боли - улыбнитесь с новыми технологиями</span>
                </div>
                <button class="main-btn main__btn">Узнать подробнее</button>
                <div class="main__advantage">
                    <div class="advantage-item">
                        <img src="img/doctor-icon.svg" alt="icon" class="item-icon">
                        <span class="item-title">Опытные врачи</span>
                        <span class="item-desc">Практикующие хирурги, с опытом более 7 лет</span>
                    </div>
                    <div class="advantage-item">
                        <img src="img/toothPc-icon.svg" alt="icon" class="item-icon">
                        <span class="item-title"><span class="hide">Новейший </span>3D сканер</span>
                        <span class="item-desc">и компьютерное моделирование<span class="hide">, для идеального протезирования;</span></span>
                    </div>
                </div>
            </div>
            <div class="main__background">
                <div class="main__decor">
                    <div class="icon-wrapper">
                        <img src="img/switzFlag.svg" alt="icon" class="icon">
                        <img src="img/usaFlag.svg" alt="icon" class="icon">
                        <img src="img/japanFlag.svg" alt="icon" class="icon">
                        <img src="img/israelFlag.svg" alt="icon" class="icon">
                    </div>
                    <div class="text-wrapper">
                        <span class="decor-num">5</span>
                        <span class="decor-text">видов <br> качественных <br> имплантов <br> под любой бюджет</span>
                    </div>
                </div>
                <img src="img/mainBg.png" alt="img" class="background-img">
            </div>
        </div>
    </section>
    <section class="advantage">
        <div class="container">
            <h2 class="title">Передовые методики и тщательно <br> подобранные материалы</h2>
            <span class="subtitle">чтобы вы обрели не только красивую, но и здоровую улыбку!</span>
            <div class="advantage__list">
                <div class="list-item">
                    <img src="img/advImage1.jpg" alt="img" class="item-img">
                    <div class="text-wrapper">
                        <div class="item-title">Современное оснащение</div>
                        <div class="item-desc">Используем 3D сканер *марка, для точного размещения имплантов</div>
                    </div>
                </div>
                <div class="list-item">
                    <img src="img/advImage2.jpg" alt="img" class="item-img">
                    <div class="text-wrapper">
                        <div class="item-title">Опытные врачи</div>
                        <div class="item-desc">Практикующие хирурги, с опытом более 7 лет</div>
                    </div>
                </div>
                <div class="list-item">
                    <img src="img/advImage3.jpg" alt="img" class="item-img">
                    <div class="text-wrapper">
                        <div class="item-title">Качественные материалы</div>
                        <div class="item-desc">Используем биосовместимые и гипоаллергенные материалы </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--footer-->
<%= _.template(require('./../includes/footer.html').default)(data) %>

