@import "container";
@import "color";
@import "form";
@import "modal";
@import "title";
@import "buttons";
@import "header";
@import "main";
@import "footer";


* {
  outline: none;
  box-sizing: border-box;

  &:after,
  &:before {
    transition: inherit;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}


body {
  font-family: "Inter Tight", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  color: $teal-dark;
  overflow-x: hidden;
  transition: .3s;
}

:root {
  font-size: 10px;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: .3s;
}

input,
button,
textarea {
  outline: none;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: .3s;
  outline: 0;
}

.mobile-text {
  @media screen and (max-width: 960px) {
    display: block;
    margin-top: 10px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 126%;
    &:first-letter {
      text-transform: uppercase;
    }
  }
}

.hide {
  display: none;
}